/*-------------------*/
/*--- ACTION AREA ---*/
/*-------------------*/

#action-area p {
    margin: 0.325em 0 0.625em;
}

#action-area div.sub {
    color: rgb(var(--basalt-sub-text-color));
    font-size: 81.25%;
    text-align: right;
}
#action-area div.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: 0.5rem;
    padding: 0.625em 0;
    width: 100%;
    max-width: calc(var(--main-content-width)*0.75);
    margin: 0 auto;
}
#action-area div.buttons > * {
    flex-basis: 12em;
    flex-shrink: 1;
    flex-grow: 1;
}

#history-subarea:not([style*="none"]),
#action-area:not([style*="none"]) {
    display: grid!important;
}
#history-subarea,
#action-area {
    position: relative;
    padding: 0;
    margin: 1rem 0 0;
    grid-template-columns: 1fr max-content;
}

#history-subarea > *,
#action-area > * {
    grid-column: 1 / 3;
}

:is(#action-area, div.buttons) :is(a, input).btn,
#history-subarea a.action-area-close {
    cursor: pointer;
    margin: 0;
    display: inline-block;
    text-align: center;
    padding: 0.5ch;
    font-family: var(--UI-font);
    text-decoration: none;
    color: rgb(var(--button-text-color));
    background-color: rgb(var(--button-background-color));
    border: solid 0.125em rgb(var(--button-border-color));
    outline: rgb(var(--button-outline-color)) solid 0;
    transition: all var(--button-hover-transition);
}
:is(#action-area, div.buttons) :is(a, input).btn:is(:hover, :focus),
#history-subarea a.action-area-close:is(:hover, :focus) {
    color: rgb(var(--button-hover-text-color));
    background-color: rgb(var(--button-hover-background-color));
    border-color: rgb(var(--button-hover-border-color));
    outline-width: 0.25rem;
}

#action-area div.buttons > :is([name="cancel"],[onclick*="page.listeners.closeActionArea(event)"]) {
    --button-text-color: var(--basalt-cancel-color);
}
#action-area div.buttons > :is([name="save"],[onclick*="PageTagsModule.listeners.save(event)"]) {
    --button-text-color: var(--basalt-positive-color);
    font-weight: bold;
}

#action-area a.action-area-close {
    float: none;
    grid-column: 2 / 3;
    grid-row-start: 1;
    z-index: 1;
    align-self: center;
    width: max-content;
    color: rgb(var(--basalt-cancel-color));
}

#action-area > h1 {
    grid-row-start: 1;
    font-size: calc(var(--true-font-size)*1.2);
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0.425rem 0;
}
#history-subarea > h2::before,
#history-subarea > h2::after,
#action-area > h1::before,
#action-area > h1::after {
    content: "";
    display: block;
    background-color: rgb(var(--action-area-border-color));
    height: 0.1rem;
    min-width: 2.5ch;
    flex-grow: 1;
}
#history-subarea > h2::before, #action-area > h1::before { margin-right: 0.5ch; }
#history-subarea > h2::after, #action-area > h1::after { margin-left: 0.5ch; min-width: 4.25ch; }


/*---------------*/
/*--- EDITBOX ---*/
/*---------------*/

form#edit-page-form {
    font-family: var(--UI-font);
    max-width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
        "title title"
        "toolbar toolbar"
        "txt txt"
        "help size"
        "bottom bottom"
        "hdn hdn"
        "button button"
        "notify notify";
    grid-template-columns: 1fr auto;
    column-gap: 0.5rem;
}
form#edit-page-form table.form { grid-area: title; }
form#edit-page-form #wd-editor-toolbar-panel { grid-area: toolbar; }
form#edit-page-form > div:nth-of-type(2) { grid-area: txt; }
form#edit-page-form .change-textarea-size { grid-area: size; }
form#edit-page-form .edit-help-34 { grid-area: help; }
form#edit-page-form table.edit-page-bottomtable { grid-area: bottom; }
form#edit-page-form #edit-page-captcha { grid-area: hdn; }
form#edit-page-form .buttons.alignleft { grid-area: button; }
form#edit-page-form .checkbox.do-not-notify { grid-area: notify; }

/* Title area */
form#edit-page-form table.form {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    width: 100%;
    margin: 0!important;
    font-size: calc(var(--true-font-size)*1.25);
}
form#edit-page-form table.form tbody,
form#edit-page-form table.form tr {
    display: contents;
}
form#edit-page-form table.form td {
    display: block;
    flex-grow: 1;
    font-weight: bold;
    padding: 0;
    margin: 0;
}
form#edit-page-form table.form td:nth-of-type(1) {
    font-size: var(--true-font-size);
    color: rgb(var(--basalt-main-text-color));
    transition: color 0.175s ease-out;
}
form#edit-page-form table.form:focus-within td:nth-of-type(1) {
    color: rgb(var(--basalt-focus-color));
}
form#edit-page-form table.form td:nth-of-type(2) {
    flex-grow: 99;
}
form#edit-page-form table.form  td:nth-of-type(1)::after {
    content: "";
    display: block;
    height: 0.25rem;
    width: 0;
    background-color: rgb(var(--basalt-focus-color));
    order: 1;
    transition: width 0.175s ease-out;
}
form#edit-page-form table.form:focus-within  td:nth-of-type(1)::after {
    width: 100%;
}
#edit-page-title {
    width: 100%;
    padding: 0.125ch 0.325ch;
    box-sizing: border-box;
    margin: 0;
    border: none;
    font-family: var(--header-font);
    background-color: rgb(var(--edit-area-ancillary-background-color));
}
#edit-page-title:focus-visible {
    outline: none;
}

/* Toolbar area */
#wd-editor-toolbar-panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    grid-gap: calc(var(--edit-area-toolbar-icon-size)/4);
    background-color: rgb(var(--edit-area-toolbar-background-color));
    border: solid var(--edit-area-border-width) rgb(var(--edit-area-border-color));
    border-bottom: 0;
    padding: 0.5rem;
    margin-top: 0.5rem;
}
#wd-editor-toolbar-panel > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: auto;
    grid-gap: calc(var(--edit-area-toolbar-icon-size)/4);
}
#wd-editor-toolbar-panel > div > ul {
    display: contents;
}

#wd-editor-toolbar-panel > div > ul > li {
    float: none;
    position: relative;
    margin: 0;
    padding: 0;
}
.wd-editor-toolbar-panel li.hseparator { display: none; }
.wd-editor-toolbar-panel ul li a,
.wd-editor-toolbar-panel ul li a:hover {
    background-image: none;
}
#wd-editor-toolbar-panel ul li a {
    display: block;
    height: var(--edit-area-toolbar-icon-size);
    width: var(--edit-area-toolbar-icon-size);
    background-color: transparent;
    position: relative;
}

#wd-editor-toolbar-panel ul li ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    border: none;
    border-left: solid calc(var(--edit-area-toolbar-icon-size)/8) rgb(var(--basalt-UI-dark-palette));
    background-color: rgb(var(--edit-area-toolbar-background-color));
    top: 100%;
    left: 0;
    clip-path: inset(0 0 100% 0);
    pointer-events: none;
    transition: clip-path 0.175s ease-out;
}
#wd-editor-toolbar-panel ul li.sfhover ul,
#wd-editor-toolbar-panel ul li:is(:hover, :focus-within) ul {
    clip-path: inset(0);
    pointer-events: auto;
}

#wd-editor-toolbar-panel ul li ul li a {
    height: calc(var(--edit-area-toolbar-icon-size)*7/8);
    width: calc(var(--edit-area-toolbar-icon-size)*7/8);
}

#edit-page-form .wd-editor-toolbar-panel a:focus {
    outline: none;
}
#edit-page-form .wd-editor-toolbar-panel a::before,
#edit-page-form .wd-editor-toolbar-panel a::after {
    content: "";
    display: block;
    width: 100%; height: 100%;
    position: absolute;
    top: 0; left: 0;
}
#edit-page-form .wd-editor-toolbar-panel a::after {
    background-color: rgb(var(--basalt-main-text-color));
    -webkit-mask-image: var(--edit-area-toolbar-icon-mask);
    mask-image: var(--edit-area-toolbar-icon-mask);
    -webkit-mask-size: 80%;
    mask-size: 80%;
    -webkit-mask-position: center;
    mask-position: center;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    transition: background-color var(--button-hover-transition);
}
#edit-page-form .wd-editor-toolbar-panel a::before {
    background-color: rgb(var(--basalt-focus-color));
    width: 0;
    transition: all var(--button-hover-transition);
}
#edit-page-form .wd-editor-toolbar-panel a:is(:hover, :focus)::before { width: 100%; }
#edit-page-form .wd-editor-toolbar-panel div > ul > li.sfhover > a:not(:hover, :focus)::before,
#edit-page-form .wd-editor-toolbar-panel div > ul > li:focus-within > a:not(:hover, :focus)::before {
    width: 100%;
    background-color: rgb(var(--basalt-UI-dark-palette));
}
#edit-page-form .wd-editor-toolbar-panel a:is(:hover, :focus)::after,
#edit-page-form .wd-editor-toolbar-panel div > ul > li.sfhover > a:not(:hover, :focus)::after,
#edit-page-form .wd-editor-toolbar-panel div > ul > li:focus-within > a:not(:hover, :focus)::after {
    background-color: rgb(var(--basalt-light-text-color));
}

#edit-page-form .wd-editor-toolbar-panel a.weditor-h1::after {
    --edit-area-toolbar-icon-mask: var(--h1-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-h2::after {
    --edit-area-toolbar-icon-mask: var(--h2-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-h3::after {
    --edit-area-toolbar-icon-mask: var(--h3-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-h4::after {
    --edit-area-toolbar-icon-mask: var(--h4-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-h5::after {
    --edit-area-toolbar-icon-mask: var(--h5-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-h6::after {
    --edit-area-toolbar-icon-mask: var(--h6-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-bold::after {
    --edit-area-toolbar-icon-mask: var(--bold-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-italic::after {
    --edit-area-toolbar-icon-mask: var(--italic-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-underline::after {
    --edit-area-toolbar-icon-mask: var(--underline-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-strikethrough::after {
    --edit-area-toolbar-icon-mask: var(--strikethrough-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-teletype::after {
    --edit-area-toolbar-icon-mask: var(--teletype-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-quote::after {
    --edit-area-toolbar-icon-mask: var(--quote-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-superscript::after {
    --edit-area-toolbar-icon-mask: var(--superscript-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-subscript::after {
    --edit-area-toolbar-icon-mask: var(--subscript-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-raw::after {
    --edit-area-toolbar-icon-mask: var(--rawtext-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-hr::after {
    --edit-area-toolbar-icon-mask: var(--hr-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-div::after {
    --edit-area-toolbar-icon-mask: var(--divblock-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-clearfloat::after {
    --edit-area-toolbar-icon-mask: var(--clearfloat-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-clearfloatleft::after {
    --edit-area-toolbar-icon-mask: var(--clearfloatleft-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-clearfloatright::after {
    --edit-area-toolbar-icon-mask: var(--clearfloatright-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-table::after {
    --edit-area-toolbar-icon-mask: var(--table-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-toc::after {
    --edit-area-toolbar-icon-mask: var(--toc-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-code::after {
    --edit-area-toolbar-icon-mask: var(--codeblock-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-codewiz::after {
    --edit-area-toolbar-icon-mask: var(--codewiz-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-uri::after {
    --edit-area-toolbar-icon-mask: var(--url-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-uriwiz::after {
    --edit-area-toolbar-icon-mask: var(--urlwiz-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-pagelink::after {
    --edit-area-toolbar-icon-mask: var(--pagelink-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-pagelinkwiz::after {
    --edit-area-toolbar-icon-mask: var(--pagelinkwiz-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-image::after {
    --edit-area-toolbar-icon-mask: var(--imageblock-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-imagewiz::after {
    --edit-area-toolbar-icon-mask: var(--imagewiz-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-html::after {
    --edit-area-toolbar-icon-mask: var(--htmlblock-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-numlist::after {
    --edit-area-toolbar-icon-mask: var(--ordered-list-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-bullist::after {
    --edit-area-toolbar-icon-mask: var(--unordered-list-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-incindent::after {
    --edit-area-toolbar-icon-mask: var(--inc-list-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-decindent::after {
    --edit-area-toolbar-icon-mask: var(--dec-list-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-deflist::after {
    --edit-area-toolbar-icon-mask: var(--def-list-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-footnote::after {
    --edit-area-toolbar-icon-mask: var(--footnote-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-math::after {
    --edit-area-toolbar-icon-mask: var(--math-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-mathinline::after {
    --edit-area-toolbar-icon-mask: var(--inline-math-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-eqref::after {
    --edit-area-toolbar-icon-mask: var(--eq-def-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-bib::after {
    --edit-area-toolbar-icon-mask: var(--bib-mask);
}
#edit-page-form .wd-editor-toolbar-panel a.weditor-bibcite::after {
    --edit-area-toolbar-icon-mask: var(--bib-cite-mask);
}

/* Edit area */
form#edit-page-form > div:nth-of-type(2) { min-width: 100%; }
#edit-page-textarea {
    min-width: inherit;
    min-height: calc(var(--true-font-size)*8);
    font-family: var(--body-font);
    padding: 1ch 0.5ch;
    color: rgb(var(--basalt-main-text-color));
    background-color: rgb(var(--edit-area-main-background-color));
    border: solid var(--edit-area-border-width) rgb(var(--edit-area-border-color));
    box-sizing: border-box;
    transition: border-color 0.125s linear;
}
#edit-page-textarea:focus-visible {
    outline: none;
    border-color: rgb(var(--basalt-focus-color));
}

/* Size buttons + help area */
form#edit-page-form .change-textarea-size {
    float: none;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: var(--edit-area-border-width);
    grid-gap: var(--edit-area-border-width);
    background-color: rgb(var(--edit-area-border-color));
    box-sizing: border-box;
    padding-top: 0;
    justify-content: flex-end;
    align-items: stretch;
}
form#edit-page-form .change-textarea-size a {
    text-decoration: none;
    display: flex;
    width: 10ch;
    flex-grow: 1;
    padding: 0;
    border: none;
    font-size: calc(var(--true-font-size)*1.25);
    justify-content: center;
    align-items: center;
    color: rgb(var(--button-text-color));
    background-color: rgb(var(--button-background-color));
    outline: rgb(var(--button-outline-color)) solid 0;
    transition: all var(--button-hover-transition);
}
form#edit-page-form .change-textarea-size a:is(:hover,:focus) {
    color: rgb(var(--button-hover-text-color));
    background-color: rgb(var(--button-hover-background-color));
    outline-width: var(--edit-area-border-width);
}

form#edit-page-form .edit-help-34 {
    display: flex;
    flex-wrap: wrap;
    font-size: 0;
    align-items: center;
    margin: 0;
}
form#edit-page-form .edit-help-34 a {
    margin-right: 0.625em;
    width: max-content;
    font-size: calc(var(--true-font-size)*0.75);
}

/* Bottom area */
form#edit-page-form table.edit-page-bottomtable {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.75rem;
    padding: 0!important;
}
form#edit-page-form table.edit-page-bottomtable tbody,
form#edit-page-form table.edit-page-bottomtable tr {
    display: contents;
}
form#edit-page-form table.edit-page-bottomtable tr td {
    box-sizing: border-box;
    flex-basis: calc(var(--main-content-width)/3);
    flex-grow: 1;
    display: block;
    padding: 0!important;
    position: relative;
}
form#edit-page-form table.edit-page-bottomtable tr td:nth-of-type(2) {
    display: flex;
    align-items: flex-end;
}
form#edit-page-form table.edit-page-bottomtable tr td > div:nth-of-type(1) {
    max-width: 100%;
    min-width: 100%;
}

form#edit-page-form table.edit-page-bottomtable tr td:nth-of-type(1) > div:nth-of-type(1) {
    font-size: calc(var(--true-font-size)*0.875);
    font-weight: bold;
    display: grid;
    transition: color 0.175s ease-out;
}
form#edit-page-form table.edit-page-bottomtable tr td:nth-of-type(1) > div:nth-of-type(1)::before {
    content: "";
    display: block;
    height: 0.25rem;
    width: 0;
    background-color: rgb(var(--basalt-focus-color));
    order: 1;
    transition: width 0.175s ease-out;
}
form#edit-page-form table.edit-page-bottomtable tr td:nth-of-type(1) > div:nth-of-type(1):focus-within {
    color: rgb(var(--basalt-focus-color));
}
form#edit-page-form table.edit-page-bottomtable tr td:nth-of-type(1) > div:nth-of-type(1):focus-within::before {
    width: 100%;
}
#edit-page-comments {
    width: 100%!important;
    min-height: calc(var(--true-font-size)*6.5);
    padding: 1ch 0.875ch;
    box-sizing: border-box;
    font-weight: initial;
    background-color: rgb(var(--edit-area-ancillary-background-color));
    border: none;
    order: 2;
}
#edit-page-comments:focus-visible {
    outline: none;
}
form#edit-page-form table.edit-page-bottomtable tr td > div.sub {
    position: absolute;
    bottom: 0.125ch;
    right: 1.75ch;
}

#lock-info {
    background-color: rgb(var(--edit-area-ancillary-background-color));
    text-align: center;
    border: none;
    padding: 1em;
    margin: 0;
    box-sizing: border-box;
}

/* Save button area */
#edit-page-form > div.buttons.alignleft {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(calc(var(--main-content-width)/4), 100%), 1fr));
    grid-gap: 0.625rem;
    padding: 0.625rem 0 0;
    max-width: 100%;
}
#edit-page-form > .buttons.alignleft > input[type="button"] {
    margin: 0;
    font-size: calc(var(--true-font-size)*1.05);
    padding: 0.675ch;
}

/* notify checkbox */
#edit-page-form .checkbox.do-not-notify {
    margin-top: 0.5rem;
}
#edit-page-form .checkbox.do-not-notify > label {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 0.25em;
}

/*------------*/
/*--- RATE ---*/
/*------------*/

#action-area > p > a[onclick*="PageRateModule.listeners"] {
    display: block;
    width: max-content;
    margin: 0 auto;
}

#who-rated-page-area > div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(12.5rem, 1fr) 1.75rem);
    font-size: calc(var(--true-font-size)*0.925);
}
#who-rated-page-area > div br { display: none; }
#who-rated-page-area > div span:nth-of-type(2n+1) {
    padding-left: 0.75rem;
    border-left: solid 0.075rem rgb(var(--action-area-border-color));
    transition: background-color 0.175s ease-out;
    position: relative;
    align-items: center;
}
#who-rated-page-area > div span:nth-of-type(2n+1)::after {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 100%;
    width: 1.75rem;
    height: 100%;
}
#who-rated-page-area > div span[style*="color"] {
    display: grid;
    place-items: center;
    color: rgb(var(--basalt-main-text-color))!important;
    font-weight: bold;
    text-align: center;
    font-size: 1.25em;
    transition: background-color 0.175s ease-out;
}
#who-rated-page-area > div span:nth-of-type(2n+1):is(:hover, :focus-within),
#who-rated-page-area > div span:nth-of-type(2n+1):is(:hover, :focus-within) + span[style*="color"] {
    background-color: rgb(var(--basalt-focus-color),0.0625);
}

/*------------*/
/*--- TAGS ---*/
/*------------*/

form[onsubmit*="PageTagsModule"] > table.form {
    display: grid;
    width: 100%;
}
form[onsubmit*="PageTagsModule"] > table.form > tbody,
form[onsubmit*="PageTagsModule"] > table.form > tbody > tr {
    display: contents;
}
form[onsubmit*="PageTagsModule"] > table.form > tbody > tr > td { display: block; padding: 0; }
form[onsubmit*="PageTagsModule"] > table.form > tbody > tr > td:first-child {
    font-family: var(--UI-font);
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.325;
    transition: color 0.125s linear;
}
form[onsubmit*="PageTagsModule"] > table.form > tbody > tr:focus-within > td:first-child { color: rgb(var(--basalt-focus-color)); }
#page-tags-input { width: 100%; }


/*---------------*/
/*--- HISTORY ---*/
/*---------------*/

#history-form-1 {
    display: grid;
    grid-template-columns: 1fr 11.25em;
    grid-template-rows: auto auto auto;
    column-gap: 1.25rem;
}
#revision-list { grid-column: 1/3; }

#history-form-1 > table.form, #history-form-1 > table.form > tbody { display: contents; }
#history-form-1 > table.form > tbody > tr:first-child {
    display: flex;
    flex-direction: column;
    grid-row: span 2;
}

#history-form-1 > table.form > tbody > tr:first-child::before {
    content: "";
    display: block;
    width: 100%;
    height: 0.25rem;
    background-color: rgb(var(--basalt-UI-dark-palette));
}

#history-form-1 > table.form > tbody > tr:first-child > td:first-child {
    display: block;
    width: max-content;
    padding: 0.5ch 0.75ch 0;
    font-size: 0.75em;
    background-color: rgb(var(--basalt-UI-dark-palette));
    color: rgb(var(--basalt-light-text-color));
    font-family: var(--UI-font);
    text-transform: uppercase;
    order: -1;
}
#history-form-1 > table.form > tbody > tr:first-child > td:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1.25em minmax(9.875em, 1fr));
    grid-auto-rows: auto;
    text-indent: -0.5ex;
    grid-gap: 0.325em 0.375em;
    align-items: center;
    margin: 0.375em 0;
}
#history-form-1 > table.form > tbody > tr:first-child > td:nth-child(2) input.checkbox {
    display: inline-block;
    margin: 0 0 0 auto;
}

#history-form-1 > table.form > tbody > tr:nth-child(2) {
    display: flex;
    flex-direction: column;
}
#history-form-1 > table.form > tbody > tr:nth-child(2) > td {
    position: relative;
    padding: 0;
    font-family: var(--UI-font);
}
#history-form-1 > table.form > tbody > tr:nth-child(2) > td:first-child {
    text-align: center;
    font-size: 0.75em;
    padding: 0.425ch 0 0.125ch;
    position: relative;
    text-transform: uppercase;
    transition: color 0.125s ease-out;
}
#history-form-1 > table.form > tbody > tr:nth-child(2) > td:first-child::before {
    content: "";
    position: absolute;
    bottom: 0; left: 0;
    display: block;
    width: 100%; height: 0;
    background-color: rgb(var(--basalt-UI-dark-palette));
    z-index: -1;
    transition: height 0.125s ease-out;
}
#history-form-1 > table.form > tbody > tr:nth-child(2):focus-within > td:first-child { color: rgb(var(--basalt-light-text-color)); }
#history-form-1 > table.form > tbody > tr:nth-child(2):focus-within > td:first-child::before { height: 100%; }

#h-perpage {
    width: 100%;
    border: solid 0.125em rgb(var(--action-area-border-color));
    outline: solid 0 rgb(var(--basalt-UI-dark-palette));
}
#h-perpage:focus {
    border-color: rgb(var(--basalt-UI-dark-palette));
    outline-width: 0;
}
#history-form-1 > table.form > tbody > tr:nth-child(2) > td:nth-child(2)::before,
#history-form-1 > table.form > tbody > tr:nth-child(2) > td:nth-child(2)::after {
    content: "";
    position: absolute;
    top: 0; right: 0;
    display: flex;
    align-items: center; justify-content: center;
    width: 1.625em;
    height: 100%;
    background-color: rgb(var(--basalt-UI-dark-palette));
    pointer-events: none;
    z-index: 1;
    transition: all 0.125s ease-out;
}
#history-form-1 > table.form > tbody > tr:nth-child(2) > td:nth-child(2)::before {
    height: 0;
}
#history-form-1 > table.form > tbody > tr:nth-child(2) > td:nth-child(2)::after {
    clip-path: polygon(25% 40%, 75% 40%, 50% 70%);
}
#history-form-1 > table.form > tbody > tr:nth-child(2) > td:nth-child(2):focus-within::before { height: 100%; }
#history-form-1 > table.form > tbody > tr:nth-child(2) > td:nth-child(2):focus-within::after { background-color: rgb(var(--basalt-light-text-color)); }

#history-form-1 > div.buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 1rem 0;
    grid-gap: 0.5rem;
    justify-content: center;
    align-items: center;
    height: min-content;
    align-self: center;
}
#history-form-1 > div.buttons > input.btn {
    cursor: pointer;
    flex-grow: 1;
    flex-basis: min(12em, 47.5vw);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.875em;
}

/*-------------------------------------*/

#main-content .pager {
    display: grid;
    position: relative;
    grid-template-areas:
        "pgno pgno pgno pgno pgno pgno pgno pgno pgno pgno pgno"
        "prv . . . . . . . . . nxt"
        "prv . . . . . . . . . nxt";
    grid-template-columns: 7.75em 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 7.75em;
    grid-template-rows: 2em auto;
    margin: 0;
    z-index: 0;
    --basalt-focus-color: var(--link-color);
}

#main-content .pager > * {
    display: flex;
    text-align: center;
    flex-grow: 1;
    height: 1.875em;
    align-items: center;
    justify-content: center;
}
#main-content .pager .pager-no {
    grid-area: pgno;
    position: static;
    height: auto;
    width: max-content;
    padding: 0 0.75ch;
    box-sizing: border-box;
    background-color: rgb(var(--basalt-UI-dark-palette));
    color: rgb(var(--basalt-light-text-color));
    font-family: var(--UI-font);
    text-transform: uppercase;
}
#main-content .pager .pager-no::after {
    content: "";
    display: block;
    background-color: inherit;
    position: absolute;
    top: calc(2em - 0.25rem);
    left: 0;
    width: 100%;
    height: 0.25rem;
}

#main-content .pager > span.current {
    background-color: rgb(var(--basalt-UI-dark-palette));
    color: rgb(var(--basalt-light-text-color));
    font-weight: bold;
    border: none;
    margin: 0;
    padding: 0;
}

#main-content .pager span.target { display: contents; }
#main-content .pager > span.target > a {
    display: flex;
    height: 100%;
    width: 100%;
    min-height: 1.875em;
    align-items: center;
    justify-content: center;
    position: relative;
    text-decoration: none;
    border: none;
    margin: 0;
    padding: 0;
    transition: color 0.1s ease-out;
}
#main-content .pager span > a::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    display: block;
    width: 100%;
    height: 0;
    background-color: rgb(var(--basalt-focus-color));
    z-index: -1;
    transition: height 0.125s ease-out;
}
#main-content .pager span > a:is(:hover, :focus) { color: rgb(var(--basalt-light-text-color)); }
#main-content .pager span > a:is(:hover, :focus)::before { height: 100%; }

#main-content .pager > span.target:nth-child(2) > a { grid-area: prv; }
#main-content .pager > span.target:last-child > a { grid-area: nxt; }
#main-content .pager > span.target:is(:nth-child(2), :last-child) > a {
    font-weight: bold;
    min-width: max-content;
    padding: 0 1ch;
    margin: 0;
    box-sizing: border-box;
}
#main-content .pager > span.target:is(:nth-child(2), :last-child) > a::before {
    height: 100%;
    width: 0;
    transition: width 0.125s ease-out;
}
#main-content .pager > span.target:last-child > a::before {
    right: 0; left: unset;
}
#main-content .pager > span.target:is(:nth-child(2), :last-child) > a:is(:hover, :focus)::before {
    width: 100%;
}

#main-content .pager::before, #main-content .pager::after {
    grid-area: nxt;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(var(--basalt-sub-text-color));
    opacity: 0.375;
    font-weight: bold;
    z-index: -1;
    cursor: not-allowed;
}
#main-content .pager::before { content: "« previous"; grid-area: prv; }
#main-content .pager::after { content: "next »"; grid-area: nxt; }

/*-------------------------------------*/

#revision-list .page-history {
    display: block;
    width: 100%;
    font-size: calc(var(--true-font-size)*0.825);
    margin: 0;
}
#revision-list .page-history tbody { display: contents; }

#revision-list .page-history td.optionstd a {
    text-decoration: none;
    display: flex;
    padding: 0;
    font-size: calc(var(--true-font-size)*0.925);
    justify-content: center;
    align-items: center;
    border: solid 0.1em rgb(var(--button-border-color));
    color: rgb(var(--button-text-color));
    background-color: rgb(var(--button-background-color));
    outline: rgb(var(--button-outline-color)) solid 0;
    transition: all var(--button-hover-transition);
}
#revision-list .page-history td.optionstd a:is(:hover,:focus) {
    color: rgb(var(--button-hover-text-color));
    border-color: rgb(var(--button-hover-border-color));
    background-color: rgb(var(--button-hover-background-color));
    outline-width: var(--edit-area-border-width);
}

#revision-list .page-history tr:first-child { display: none; }
#revision-list .page-history tr[id*="revision-row"] {
    display: grid;
    align-items: center;
    grid-template-areas:
        "rev flags . date"
        "dv dv dv dv"
        "radio actions by comment";
    grid-template-columns: 5.5ch 8.25em 1.5fr 5fr;
    padding: 0.25rem 0.375rem;
    box-sizing: border-box;
    border-top: solid 0.075rem rgb(var(--action-area-border-color));
    transition: background-color 0.175s ease-out;
}
#revision-list .page-history tr[id*="revision-row"]:is(:hover, :focus-within) {
    background-color: rgb(var(--basalt-focus-color),0.0625);
}

#revision-list .page-history tr[id*="revision-row"]::before {
    grid-area: dv;
    content: "";
    display: block;
    height: 0.15rem;
    width: 0;
    background: rgb(var(--basalt-UI-dark-palette));
    transition: width 0.25s ease-out;
    transition-delay: 0s;
}
#revision-list .page-history tr[id*="revision-row"]:is(:hover, :focus-within)::before {
    width: 100%;
    transition-delay: 0.1s;
}
#revision-list .page-history tr[id*="revision-row"] td {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    width: unset!important;
}
#revision-list .page-history tr[id*="revision-row"] td:nth-child(1) {
    grid-area: rev;
    font-family: var(--mono-font);
    font-size: 0.925em;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 0;
    transition: color 0.125s ease-out;
}
#revision-list .page-history tr[id*="revision-row"] td:nth-child(1)::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 0;
    background-color: rgb(var(--basalt-UI-dark-palette));
    transition: width 0.075s ease-out;
    transition-delay: 0s;
    z-index: -1;
}
#revision-list .page-history tr[id*="revision-row"]:is(:hover, :focus-within) td:nth-child(1) {
    color: rgb(var(--basalt-light-text-color));
    transition-delay: 0.125s;
}
#revision-list .page-history tr[id*="revision-row"]:is(:hover, :focus-within) td:nth-child(1)::before {
    width: 100%;
    transition-delay: 0.125s;
}

#revision-list .page-history tr[id*="revision-row"] td:nth-child(2) {
    grid-area: radio;
    grid-gap: 0.125rem;
}
#revision-list .page-history tr[id*="revision-row"] td:nth-child(3) {
    grid-area: flags;
    align-items: stretch;
    justify-content: left;
    padding: 0;
}
#revision-list .page-history tr[id*="revision-row"] td:nth-child(3) > span {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: bold;
    padding: 0 0.325em;
    color: rgb(var(--basalt-sub-text-color));
    position: relative;
    z-index: 0;
    transition: color 0.075s ease-out;
}
#revision-list .page-history tr[id*="revision-row"]:is(:hover, :focus-within) td:nth-child(3) > span {
    color: rgb(var(--basalt-light-text-color));
    transition-delay: 0.125s;
}
#revision-list .page-history tr[id*="revision-row"] td:nth-child(3) > span::before {
    content: "";
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%; width: 0;
    background: rgb(var(--basalt-focus-color));
    transition: width 0.075s ease-out;
    transition-delay: 0s;
    z-index: -1;
    transition: width 0.075s ease-out;
}
#revision-list .page-history tr[id*="revision-row"]:is(:hover, :focus-within) td:nth-child(3) > span::before {
    width: 100%;
    transition-delay: 0.125s;
}

#revision-list .page-history tr[id*="revision-row"] td:nth-child(4) {
    grid-area: actions;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0.325rem;
    align-items: center;
    text-align: center;
    height: 100%;
    font-family: var(--UI-font);
}

#revision-list .page-history tr[id*="revision-row"] td:nth-child(5) {
    grid-area: by;
    margin: 0.375em 2vw;
}

#revision-list .page-history tr[id*="revision-row"] td:nth-child(6) {
    grid-area: date;
    justify-content: right;
    text-align: right;
    font-size: 0.975em;
    font-family: var(--UI-font);
    padding: 0!important;
}

#revision-list .page-history tr[id*="revision-row"] td:nth-child(7) {
    grid-area: comment;
    display: block;
    text-align: center;
    font-size: calc(var(--true-font-size)*0.875)!important;
    padding-top: 0.375em;
}

div.site-changes-box > form > table.form {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.75rem;
    width: 100%;
}
div.site-changes-box > form > table.form > tbody { display: contents; }
div.site-changes-box > form > table.form > tbody > tr {
    display: flex;
    flex-direction: column;
    flex-basis: 14.5em;
    flex-grow: 1;
}
div.site-changes-box > form > table.form > tbody > tr:first-child {
    flex-basis: 100%;
}
div.site-changes-box > form > table.form > tbody > tr > td:first-child {
    order: -1;
    width: max-content;
    padding: 0.5ch 0.75ch 0;
    font-size: 0.75em;
    box-sizing: border-box;
    background-color: rgb(var(--basalt-UI-dark-palette));
    color: rgb(var(--basalt-light-text-color));
    font-family: var(--UI-font);
    text-transform: uppercase;
}
div.site-changes-box > form > table.form > tbody > tr::before {
    content: "";
    display: block;
    background-color: rgb(var(--basalt-UI-dark-palette));
    width: 100%;
    height: 0.25rem;
}
div.site-changes-box > form > table.form > tbody > tr:first-child > td:nth-child(2) {
    display: grid;
    grid-template-columns: repeat(auto-fill, 1.75em minmax(12.75em, 1fr));
    grid-auto-rows: 1.75em;
    grid-gap: 0.175em;
    align-items: center;
    margin: 0.325rem 0;
}
div.site-changes-box > form > table.form > tbody > tr:first-child > td:nth-child(2) input[type="checkbox"] {
    margin: 0 0 0 auto;
}
div.site-changes-box > form > table.form > tbody > tr > td > select {
    width: 100%;
}

#site-changes-list div.changes-list-item {
    display: grid;
    grid-template-areas:
        "name flag rev user"
        "comment flag rev date";
    grid-template-columns: 1fr 3.25em 5.875em 10em;
    grid-gap: 0.25em;
    padding: 0.625em 0.175em 0.325em;
    align-items: center;
    font-size: 0.95em;
    border-top: solid 0.075rem rgb(var(--action-area-border-color));
    transition: background-color 0.175s ease-out;
}
#site-changes-list div.changes-list-item:is(:hover, :focus-within) { background-color: rgb(var(--basalt-focus-color),0.0625); }

#site-changes-list div.changes-list-item > table,
#site-changes-list div.changes-list-item > table > tbody,
#site-changes-list div.changes-list-item > table > tbody > tr { display: contents; }
#site-changes-list div.changes-list-item > table > tbody > tr > td {
    display: block;
    width: 100%;
    padding: 0;
}
#site-changes-list div.changes-list-item > table > tbody > tr > td.title { grid-area: name; }
#site-changes-list div.changes-list-item > table > tbody > tr > td.flags { grid-area: flag; }
#site-changes-list div.changes-list-item > table > tbody > tr > td.flags > .spantip {
    text-decoration: none;
    color: rgb(var(--basalt-sub-text-color));
    font-weight: bold;
}
#site-changes-list div.changes-list-item > table > tbody > tr > td.revision-no { grid-area: rev; font-family: var(--UI-font); }
#site-changes-list div.changes-list-item > table > tbody > tr > td.mod-by { grid-area: user; text-align: center; }
#site-changes-list div.changes-list-item > table > tbody > tr > td.mod-date {
    grid-area: date;
    font-size: 0.825em;
    font-family: var(--UI-font);
}
#site-changes-list div.changes-list-item > div.comments {
    grid-area: comment;
    margin: 0;
    color: rgb(var(--basalt-main-text-color));
    text-align: center;
}

@media only screen and (max-width: 580px) {
    #history-form-1 {
        display: block;
    }
    #main-content .pager {
        grid-template-areas:
            "pgno pgno pgno pgno pgno pgno pgno"
            "prv . . . . . nxt"
            "prv . . . . . nxt";
        grid-template-columns: 2.5em 1fr 1fr 1fr 1fr 1fr 2.5em;
    }
    #main-content .pager > span.target:is(:nth-child(2), :last-child) > a {
        font-size: 0;
    }
    #main-content .pager::before, #main-content .pager::after,
    #main-content .pager > span.target:is(:nth-child(2), :last-child) > a::after {
        font-size: calc(var(--true-font-size)*1.25);
    }
    #main-content .pager::before,
    #main-content .pager > span.target:nth-child(2) > a::after { content: "«";  }
    #main-content .pager::after,
    #main-content .pager > span.target:last-child > a::after { content: "»";  }

    #main-content .page-history tr[id*="revision-row"] {
        grid-template-areas:
            "rev flags date"
            "dv dv dv"
            "radio actions by"
            "comment comment comment";
        grid-template-columns: 5.5ch 1fr 11.75em;
    }

    #site-changes-list div.changes-list-item {
        grid-template-areas:
            "name name name rev"
            "comment comment comment comment"
            "flag user date date";
        grid-template-columns: 3.25em 1fr 4.5em 5.875em;
    }
    #site-changes-list div.changes-list-item > table > tbody > tr > td.flags { text-align: left; }
    #site-changes-list div.changes-list-item > table > tbody > tr > td:is(.revision-no,.mod-date) { text-align: right; }
}

#history-subarea > h2 {
    grid-row-start: 1;
    font-family: var(--UI-font);
    font-size: calc(var(--true-font-size)*1.05);
    color: rgb(var(--basalt-sub-text-color));
    text-transform: uppercase;
    display: flex;
    align-items: center;
    text-align: center;
    margin: 0.425rem 0;
}

.inline-diff.page-source ins {
    text-decoration: none;
    background-color: rgb(var(--basalt-positive-color),0.1875);
}
.inline-diff.page-source del {
    background-color: rgb(var(--basalt-negative-color),0.1875);
}
.inline-diff.page-source :is(ins, del) > br {
    display: none;
}

/*-------------------*/
/*-------------------*/
/*-------------------*/

#action-area input.text,
textarea#file-comments {
    border: none;
    background-color: rgb(var(--basalt-secondary-color));
    padding: 0.5ch 0.325ch;
    max-width: 100%;
    box-sizing: border-box;
}

#file-upload-form table.form,
form[onsubmit*="setParent"] > table.form,
#rename-option-rename table.form {
    display: flex;
    flex-direction: column;
    grid-gap: 0.625rem;
    width: 100%;
}
:is(#file-upload-form table.form,form[onsubmit*="setParent"] > table.form, #rename-option-rename table.form) > tbody {
    display: contents;
}
:is(#file-upload-form table.form,form[onsubmit*="setParent"] > table.form, #rename-option-rename table.form) > tbody > tr {
    display: grid;
    grid-gap: 0.125em;
    align-items: center;
}
:is(#file-upload-form table.form,form[onsubmit*="setParent"] > table.form, #rename-option-rename table.form) > tbody > tr > td {
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
}
:is(#file-upload-form table.form,form[onsubmit*="setParent"] > table.form, #rename-option-rename table.form) > tbody > tr > td:nth-child(1) {
    font-family: var(--UI-font);
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.325;
    transition: color 0.125s linear;
}
:is(#file-upload-form table.form,form[onsubmit*="setParent"] > table.form, #rename-option-rename table.form) tr:focus-within > td:nth-child(1) {
    color: rgb(var(--basalt-focus-color));
}
:is(#file-upload-form table.form,form[onsubmit*="setParent"] > table.form, #rename-option-rename table.form) td:nth-child(2) > *:not(div) {
    width: 100%!important;
}

/*-------------*/
/*--- FILES ---*/
/*-------------*/

#action-area table.page-files {
    display: block;
    width: 100%;
    margin: 0 auto;
}
#action-area table.page-files > :is(thead, tbody) {
    display: contents;
}
#action-area table.page-files > :is(thead, tbody) > tr {
    display: grid;
    grid-gap: 0.625rem;
    grid-template-columns: 2.5fr 1fr 4.5em 2fr;
    align-items: center;
    padding: 0.475em 0;
    border-top: solid 0.1em rgb(var(--action-area-border-color));
    overflow-wrap: anywhere;
}
#action-area table.page-files > thead > tr {
    border-top: 0;
    text-transform: uppercase;
    font-family: var(--UI-font);
}
#action-area table.page-files > tbody > tr:last-child {
    border-bottom: solid 0.1em rgb(var(--action-area-border-color));
}
#action-area table.page-files > tbody > tr[id*="file-options-row"] {
    border-top:  0;
    padding-top: 0;
    background-color: transparent;
}

#action-area table.page-files :is(td, th) {
    text-align: center;
    padding: 0;
    display: block;
    font-size: 0.875em;
}
#action-area table.page-files > tbody > tr > td:last-child {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 0.325rem;
}
#action-area table.page-files > tbody > tr > td:last-child > a {
    flex-grow: 1;
    flex-basis: 3.75em;
}

#action-area > div[style="margin-top:1em; text-align: center; font-size: 120%;"] {
    font-size: 1.05em!important;
    margin: 0.5em 0!important;
    display: flex;
    justify-content: flex-end;
}

input#upload-userfile {
    box-shadow: 0 0 0 0 rgb(var(--basalt-focus-color));
    transition: box-shadow 0.125s linear;
}

#file-upload-form table.form {
    flex-direction: row;
    flex-wrap: wrap;
}
#file-upload-form table.form >tbody > tr {
    flex-grow: 1;
    flex-basis: calc(var(--main-content-width)/2.5);
}

#file-upload-form table.form tr:first-child:is(:hover, :focus-within) td:first-child {
    color: rgb(var(--basalt-focus-color));
}
#file-upload-form table.form tr:first-child:is(:hover, :focus-within) input#upload-userfile {
    box-shadow: 0 0 0 0.175rem rgb(var(--basalt-focus-color));
}
input#upload-userfile::file-selector-button {
    padding: 0.5ch;
    margin: 0 0.55em 0 0.125em;
    font-family: var(--UI-font);
    color: rgb(var(--button-text-color));
    background-color: rgb(var(--button-background-color));
    border: solid 0.125em rgb(var(--button-border-color));
    outline: rgb(var(--button-outline-color)) solid 0;
    transition: all var(--button-hover-transition);
}
#file-upload-form table.form tr:first-child:is(:hover, :focus-within) input#upload-userfile::file-selector-button {
    color: rgb(var(--button-hover-text-color));
    background-color: rgb(var(--button-hover-background-color));
    border-color: rgb(var(--button-hover-border-color));
    outline-width: 0.475em;
}

#file-comments {
    min-width: 100%;
    max-width: 100%;
    min-height: 4.875em;
}
#action-area #upload-dfilename {
    padding-bottom: 1.25em;
}
:is(#upload-dfilename, #file-comments) + div.sub {
    position: absolute;
    bottom: 0.25ch;
    right: 1.5ch;
    width: max-content;
}

/*------------------*/
/*--- SITE TOOLS ---*/
/*------------------*/

#site-tools-box {
    padding-top: 0!important;
    grid-row: 1/3;
}
#site-tools-box::before {
    content: "";
    display: block;
    background-color: rgb(var(--action-area-border-color));
    height: 0.1rem;
    margin: calc(var(--true-font-size)*1.125) 0;
}

#site-tools-box > .page-options-bottom {
    height: auto;
    margin: 0;
}
#site-tools-box .page-options-bottom ul.nav-pills {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
}
#site-tools-box .page-options-bottom ul.nav-pills > li {
    display: contents;
}
#site-tools-box .page-options-bottom ul.nav-pills > li > a {
    margin: 0;
    padding: 0.5em;
    text-align: center;
    text-transform: capitalize;
    border-left: solid 0.05rem rgb(var(--general-border-color));
    flex-basis: 7.75rem;
    text-decoration: none;
    color: rgb(var(--basalt-main-text-color));
    transition: all var(--button-hover-transition);
}
#site-tools-box .page-options-bottom ul.nav-pills > li:first-child > a { border-left: none; }
#site-tools-box .page-options-bottom ul.nav-pills > li > a:is(:hover, :focus) {
    font-weight: bold;
    color:  rgb(var(--basalt-focus-color));
}

#st-action-area span[style*="#999"] {
    color: rgb(var(--basalt-sub-text-color))!important;
}


/*---------------------*/
/*--- EDIT SECTIONS ---*/
/*---------------------*/

#edit-section-content {
    border: none;
    padding: 0;
    background-color: rgb(var(--basalt-focus-color),0.0625);
    box-shadow: 0 0 0 0.675rem rgb(var(--basalt-focus-color),0.0625);
}
a.edit-section-button {
    float: right;
    background: transparent;
    font-size: calc(var(--true-font-size)*0.875);
    text-transform: uppercase;
    margin: 0; margin-top: 1.15em;
    padding: 0;
}
a.edit-section-button::before { content: "["; }
a.edit-section-button::after { content: "]"; }

a.edit-section-button + :is(h1,h2,h3,h4,h5,h6) {
    box-shadow: 0 0.1rem 0 rgb(var(--basalt-alternate-color));
}


/*-----------------*/
/*--- EDIT META ---*/
/*-----------------*/

#action-area > h1 + p + h2 + div[style*="padding-left"] {
    padding-left: 0!important;
}
#action-area > h1 + p + h2 + div[style*="padding-left"] > div {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-gap: 0.75rem;
    font-family: var(--mono-font);
}
#action-area > h1 + p + h2 + div[style*="padding-left"] > div > a[onclick*="EditMetaModule.listeners.deleteTag"] {
    order: 1;
    margin-right: 0!important;
    cursor: pointer;
    margin: 0;
    display: inline-block;
    padding: 0.5ch;
    font-family: var(--UI-font);
    text-decoration: none;
    color: rgb(var(--basalt-cancel-color));
    background-color: rgb(var(--button-background-color));
    border: solid 0.125em rgb(var(--button-border-color));
    outline: rgb(var(--button-outline-color)) solid 0;
    transition: all var(--button-hover-transition);
}
#action-area > h1 + p + h2 + div[style*="padding-left"] > div > a[onclick*="EditMetaModule.listeners.deleteTag"]:is(:hover, :focus) {
    color: rgb(var(--button-hover-text-color));
    background-color: rgb(var(--button-hover-background-color));
    border-color: rgb(var(--button-hover-border-color));
    outline-width: 0.25rem;
}

#edit-meta-addbutton {
    text-align: center;
}

#edit-meta-newtag > h2::after { content: ":"; }
#edit-meta-newtag-form > table {
    font-family: var(--mono-font);
}


/*----------------*/
/*--- WATCHERS ---*/
/*----------------*/

#action-area > ul[style="list-style: none"] {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: repeat(auto-fill, minmax(min(16em, 100%), 1fr));
    grid-gap: 0.25rem;
}

/*-------------------*/
/*--- PAGE SOURCE ---*/
/*-------------------*/

#action-area .page-source {
    overflow-wrap: anywhere;
    font-family: var(--mono-font);
    font-size: 0.875em;
    padding: 0.5em 0;
    border: none;
}

/*----------------*/
/*--- PARENT ---*/
/*----------------*/
#action-area div.autocomplete-container.yui-ac { width: 100%!important; }

/*-----------------------*/
/*--- RENAME/DELETE ---*/
/*-----------------------*/

#rename-option-rename > p > :is(#rename-show-backlinks, #rename-hide-backlinks) {
    display: block;
    width: max-content;
    margin: 0 auto;
}

#action-area > a.action-area-close + h1 + p + table.form {
    display: block;
    width: 100%;
    padding: 0.675rem;
    border-style: solid;
    border-color: rgb(var(--action-area-border-color));
    border-width: 0.1em 0;
}
#action-area > a.action-area-close + h1 + p + table.form > tbody { display: contents; }
#action-area > a.action-area-close + h1 + p + table.form > tbody > tr {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 0.25rem 1rem;
    flex-wrap: wrap;
}
#action-area > a.action-area-close + h1 + p + table.form > tbody > tr > td:first-child {
    font-family: var(--UI-font);
    font-size: 0.875em;
    font-weight: bold;
    text-transform: uppercase;
}
#action-area > a.action-area-close + h1 + p + table.form > tbody > tr > td:nth-child(2) {
    display: grid;
    grid-template-columns: 1.25em 1fr;
    align-items: center;
    grid-gap: 0.25rem 0.125rem;
}

#rename-option-rename > form {
    border-top: solid 0.1em rgb(var(--action-area-border-color));
    margin-top: 1em;
    padding-top: 0.75em;
}

:is(#rename-option-delete, form[onsubmit*="RenamePageModule"]) div.buttons > input.btn:first-child {
    --button-text-color: var(--basalt-main-text-color);
}
#rename-option-delete div.buttons > input.btn:last-child {
    --button-text-color: var(--basalt-negative-color);
    font-weight: bold;
}